# Configuración de la base de datos
DB_HOST=localhost
DB_NAME=peruana_informatica
DB_USER=usuario_db
DB_PASS=tu_contraseña_segura

# Configuración de la aplicación
APP_ENV=production
APP_DEBUG=false
APP_KEY=generar_una_clave_segura_aqui

# Configuración de correo
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
