# --- DEPENDENCIAS ---
node_modules/
**/node_modules/
dist/
build/
.next/
out/

# --- AMBIENTE / SECRETOS ---
.env*
!.env.example
*.pem
*.key

# --- DOCKER ---
.docker/
*.tar
*.tar.gz
docker-compose.override.yml
backend_data/

# --- SISTEMA / EDITORES ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- LOGS Y TEMPORALES ---
*.log
npm-debug.log*
yarn-debug.log*
.cache/
.temp/
tmp/

# --- DATABASE ---
*.sql
*.sqlite
*.db

# --- OTROS ---
/docs/archive/db-dumps/
